/* presets */
:root {
  /* colors */
  --bg-color: #181818;
  --bg-alt-color: #212121;
  --bg-alt-lighter-color: #383838;
  --green-color: #03D36B;
  --green-color-hover: #00E472;
  --text-color: #FFFFFF;
  --text-secondary-color: #A9A9A9;
  --input-color: #303030;
  /* typography */
  --ff-poppins: 'Poppins', sans-serif;
  --ff-bebas: 'Bebas Kai', sans-serif;
}

::selection,
::-moz-selection {
  color: #000000;
  background: #96ec96;
  padding: 1rem;
}

:focus, :-moz-focusring {
  outline: 2px solid var(--green-color) !important;
  outline-color: var(--green-color) !important;
}

* {
  outline-color: var(--green-color) !important;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  position: relative;
}

section {
  padding: 40px 80px;
}

section h2 {
  text-align: center;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-family: var(--ff-bebas);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.25rem;
}

a {
  text-decoration: unset;
  color: var(--text-color);
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

label {
  display: block;
}

input, textarea {
  display: block;
  width: 100%;
  font-family: var(--ff-poppins);
  background-color: var(--input-color);
  color: var(--text-color);
  border: unset;
  border-radius: 4px;
  font-size: 1rem;
  padding: 10px 12px;
}

textarea {
  resize: none;
}

/* typography */
/* Bebas Kai */
@font-face {
  font-family: 'Bebas Kai';
  src: url('/assets/fonts/Bebas\ Kai/BebasKai.woff2') format('woff2'),
      url('/assets/fonts/Bebas\ Kai/BebasKai.woff') format('woff'),
      url('/assets/fonts/Bebas\ Kai/BebasKai.svg#BebasKai') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Poppins */
@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins/Poppins-Bold.woff2') format('woff2'),
      url('/assets/fonts/Poppins/Poppins-Bold.woff') format('woff'),
      url('/assets/fonts/Poppins/Poppins-Bold.svg#Poppins-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins/Poppins-Medium.woff2') format('woff2'),
      url('/assets/fonts/Poppins/Poppins-Medium.woff') format('woff'),
      url('/assets/fonts/Poppins/Poppins-Medium.svg#Poppins-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
      url('/assets/fonts/Poppins/Poppins-Regular.woff') format('woff'),
      url('/assets/fonts/Poppins/Poppins-Regular.svg#Poppins-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins/Poppins-SemiBold.woff2') format('woff2'),
      url('/assets/fonts/Poppins/Poppins-SemiBold.woff') format('woff'),
      url('/assets/fonts/Poppins/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@import 'header';

@import 'main/hero';

@import 'main/projects';

@import 'main/route';

@import 'main/contact';

footer {
  font-family: var(--ff-poppins);
  font-size: 1rem;
  color: var(--text-secondary-color);
  text-align: center;
  margin: 80px 0 40px 0;
}

.mobile-view-show {
  display: none;
}

@media only screen and (max-width: 1366px) {
  section.hero {
    padding: 0;
  }
}

.about iframe {
  margin-top: 50px;
  width: 100%;
  aspect-ratio: 16/9;
}

@media only screen and (max-width: 1000px) {
  .hero {
    grid-template-columns: 1fr !important;
    text-align: center;
    .left {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  .projects ul {
    grid-template-columns: 1fr !important;
  }

  .mobile-view-show {
    display: block;
  }

  .mobile-view-hide {
    display: none !important;
  }
}

@media only screen and (max-width: 800px) {
  section {
    padding: 20px;
  }

  h1 {
    font-size: 3rem;
  }
  
  h2 {
    font-size: 2.5rem;
  }
  
  h3 {
    font-size: 2rem;
  }

  header {
    padding: 20px;
    justify-content: start;
    gap: 40px;
    nav {
      flex: 1;
      ul {
        gap: 0;
        justify-content: space-between;

        a {
          font-size: 1rem;
        }
      }
    }
  }

  section.hero {
    margin: 0;
    height: max-content;
    padding: 170px 0 120px 0;
    .left {
      &::before {
        display: none;
      }
    }
  }

  section.route {
    ::before, ::after {
      display: none;
    }
    .timeline {

      * {
        position: unset !important;
        transform: unset !important;
        width: unset !important;
        max-width: unset !important;
        aspect-ratio: unset !important;
      }
      .pop {
        max-width: 90% !important;
        margin: 30px auto;
      }
    }
  }

  section.contact {
    form {
      grid-template-columns: 1fr;
      :nth-child(3) {
        grid-column: span 1 !important;
      }
    }

    .content {
      margin: 25px 0;
    }
  }
}

.popup {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  font-family: var(--ff-poppins) !important;
}

.popup-button {
  background-color: var(--green-color) !important;
  color: var(--bg-color) !important;
  font-weight: 600 !important;
}

.swal2-success-ring {
  border-color: #03d36b8e !important;
}

[class^="swal2-success-line"] {
  background-color: var(--green-color) !important;
}
